@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Visión
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index","Principal")">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Vision","Principal")"> Visión</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start about-top Area -->
<section class="about-top-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 about-top-left">
                <h1>
                    Visión
                </h1>
                <h3>Objetivo Específico</h3>
                <p>Ser la empresa líder en el ramo textil, ofreciendo los precios más bajos garantizando la calidad y servicio.</p>

                <h3 class="fadeInUp">Meta</h3>
                <p class="fadeInUp">Lograr la satisfacción de nuestros clientes y ser reconocidos por toda la península de yucatán</p>
            </div>
            <div class="col-lg-6 about-top-right">
                <img class="img-fluid" src="img/pages/at.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End about-top Area -->