/ConvertidorCNCv1/.vs
/ConvertidorCNCv1/ConvertidorCNCv1/ConvertidorCNCv1.csproj.user
/ConvertidorCNCv1/ConvertidorCNCv1/bin
/ConvertidorCNCv1/ConvertidorCNCv1/obj
/ConvertidorCNCv1/ServicesCNC/obj
/ConvertidorCNCv1/ServicesCNC/bin
/ConvertidorCNCv1/packages
