/ProyectoRoutingCNC/.vs
/ProyectoRoutingCNC/packages
/ProyectoRoutingCNC/Servicios/bin
/ProyectoRoutingCNC/Servicios/obj
/ProyectoRoutingCNC/ProyectoRoutingCNC/*.user
/ProyectoRoutingCNC/ProyectoRoutingCNC/ProyectoRoutingCNC.csproj.user
/ProyectoRoutingCNC/ProyectoRoutingCNC/bin
/ProyectoRoutingCNC/ProyectoRoutingCNC/obj
