@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem; margin:0 auto; right:-100px;">
                <img class="card-img-top" src="~/Iconos/SignosDelZodiaco.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Signos Zodiacales</h5>
                    <p class="card-text">son áreas de la esfera celeste que se definen de forma distinta a como se definen las constelaciones del mismo nombre, de modo que un signo zodiacal dado y la constelación de su mismo nombre cubren áreas distintas de la esfera celeste.</p>
                    <a href="@Url.Action("Index", "Productos")" class="btn btn-primary">Ir al catálogo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem; margin:0 auto; right:-100px;">
                <img class="card-img-top" src="~/Iconos/DibujosAnimados/DibujosAnimadosPortada.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Dibujos animados</h5>
                    <p class="card-text">Un dibujo animado (Conocido como caricatura o dibujitos en zonas de Hispanoamérica, o con el anglicismo cartoon) es una categoría dentro de las obras de animación que se refiere a aquellas secuencias visuales realizadas en dos dimensiones.</p>
                    <a href="@Url.Action("Index", "ProductoDibujosAnimados")" class="btn btn-primary">Ir al catálogo</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem; margin:0 auto; right:-100px;">
                <img class="card-img-top" src="~/Iconos/Simbolos/SimbolosPortada.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Símbolos</h5>
                    <p class="card-text">Definición de símbolo. El concepto de símbolo (una palabra que deriva del latín simbŏlum) sirve para representar, de alguna manera, una idea que puede percibirse a partir de los sentidos y que presenta rasgos vinculados a una convención aceptada.</p>
                    <a href="@Url.Action("Index", "ProductoSimbolo")" class="btn btn-primary">Ir al catálogo</a>
                </div>
            </div>
        </div>
    </div>
</div>