@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 18rem; margin:0 auto; right:200px;">
                <img class="card-img-top" src="~/Iconos/SignosDelZodiaco.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Signos Zodiacales</h5>
                    <p class="card-text">son áreas de la esfera celeste que se definen de forma distinta a como se definen las constelaciones del mismo nombre, de modo que un signo zodiacal dado y la constelación de su mismo nombre cubren áreas distintas de la esfera celeste.</p>
                    <a href="@Url.Action("Index", "Productos")" class="btn btn-primary">Ir al catálogo</a>
                </div>
            </div>
        </div>
    </div>
</div>