<script type="text/javascript">
    //$('#alert_placeholder').addClass("alert-danger").css('display', 'block').html('<span class="fa fa-info-circle"></span> <strong> Error de operación </strong>').delay(4000).slideUp(200, function () {
    //    $(this).alert('hide');
    //});
</script>
