<footer class="footer">
    <div class="container">
        <div class="col-md-6 keep">
            <h4>Siguenos en redes sociales:</h4>
            <div class="social">
                <ul>
                    <li><a href="#"><img src="~/Iconos/facebook-logo-button.png" width="50"/></a></li>
                    <li><a href="#"><img src="~/Iconos/twitter-logo-button.png" width="50"/></a></li>
                    <li><a href="#"><img src="~/Iconos/whatsapp-logo.png" width="50"/></a></li>
                    <li><a href="#"><img src="~/Iconos/instagram-logo.png" width="50"/></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
        <div class="col-md-6 our">
            <h4>Nuestros datos</h4>
            <div class="ic-da">
                <div class="icon">
                    <i class="mob"> </i>
                </div>
                <div class="data">
                    @*<p>Teléfono: 01 999 942 6666</p>*@
                </div>
                <div class="clearfix"> </div>
            </div>
            <h6>Teléfono: 01 999 942 6666</h6>
            <h6>E-mail: <a href="">jmmartinflores@hotmail.com</a></h6>
            <h5>Calle 115 No. 404 por Calle 50, Santa Rosa, 97279 Mérida, Yuc.</h5>
        </div>
        <div class="clearfix"> </div>
        <div class="bottom">
            <p class="text-center">Copyright © Routing CNC 2018</p>
        </div>
    </div>
</footer>
