<meta name="google-site-verification" content="6Aqtf8frhqGKmv10yV9WpASBG5WfqJlT4s4fujdbnr4" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Panel de Administración</title>

<!-- Bootstrap core CSS-->
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom fonts for this template-->
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<!-- Page level plugin CSS-->
<link href="~/Content/css/dataTables.bootstrap4.css" rel="stylesheet" />
<!-- Custom styles for this template-->
<link href="~/Content/css/sb-admin.css" rel="stylesheet" />
<!-- Hoja de estilos animations-->
<link href="~/Content/css/animations.css" rel="stylesheet" />
<!-- Bootstrap core JavaScript-->
<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="~/Content/js/jquery.dataTables.js"></script>
<script src="~/Content/js/dataTables.bootstrap4.js"></script>
<script src="~/Content/js/sb-admin-datatables.min.js"></script>
