<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="TelasMexicanas,Telas,TelasProductos,Tela,TelaMexico">
    <title>Routing CNC</title>
    <link href="~/Content/css/FEbootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="~/Content/css/FEstyle.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="~/Content/js/analytics.js"></script>
    <link href="~/Content/css/FEflexslider.css" rel="stylesheet" type="text/css" media="screen"/>
    <script src="~/Content/js/FEjquery.min.js"></script>
    <script src="~/Content/js/FEjquery.flexslider.js"></script>
    
    <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
    </script>
</head>
