@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="contact-data">
    <div class="container">
        <h2 class="slideInLeft">Escríbenos</h2>
            <div class="contact-form">
                <form method="post" class="left_form" action="~/Sitio/Contacto">
                    <div class="col-sm-12">
                        <span><label class="slideInLeft">Nombre</label></span>
                        <span><input name="subject" type="text" class="textbox slideInLeft" placeholder="Nombre"></span>@*subject*@
                    </div>
                    <div class="col-sm-12">
                        <span><label class="slideInLeft">Correo Electrónico</label></span>
                        <span><input name="receiverEmail" type="text" class="textbox slideInLeft" placeholder="Correo"></span> @*receiverEmail*@
                    </div>
                    <div class="col-sm-12">
                        <span><label class="slideInLeft">Comentario</label></span>
                        <span><textarea name="message" placeholder="Comentario" class="slideInLeft"></textarea></span> @*message*@
                    </div>
                    <div class="col-sm-12">
                        <span><label class="slideInLeft">Seleccione su archivo:</label></span>
                        <span><input type="file" class="btn btn-default slideInLeft" name="fichero" style="width:95%"></span>
                    </div>
                    <div class="col-sm-12 col-sm-pull-10">
                        <span><input type="submit" value="Enviar" class="myButton slideInLeft" style="width:91px;"></span>
                    </div>
                </form>

                <h3 style="color:blue">
                    @ViewBag.Mensaje
                </h3>
                <h3 style="color:red">
                    @ViewBag.Error
                </h3>

                <form class="right_form">
                    <div class="contact_info">
                        <h2 class="slideInDown">¡Encuentranos aquí!</h2>
                        <div class="map">
                            <iframe class="slideInUp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1863.1630350857736!2d-89.61635824204544!3d20.939416696511735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5672270a784baf%3A0x764b40010695f0d9!2sUniversidad+Tecnol%C3%B3gica+Metropolitana!5e0!3m2!1ses-419!2smx!4v1530163878248" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
        <!---728x90--->
        <script src="https://publisher.eboundservices.com/dynamicAds/dynamicScript.js" style="display: none !important;"></script>
        <div style="margin: 0 auto;text-align: center;margin-top: 5px;">
            <script>
var allowedNumberOfEboundDynamicAdds = 4;
var sizesEboundDynamicAdsDesktop = ['728x90'];
var sizesEboundDynamicAdsTablet = ['728x90'];
var sizesEboundDynamicAdsMobile = ['320x100'];
eboundAdsTagByDevice(sizesEboundDynamicAdsDesktop,sizesEboundDynamicAdsTablet,sizesEboundDynamicAdsMobile, 'ebound_header_tag');

if(typeof user_tag_config == 'undefined'){
	var user_tag_config = {};
}
user_tag_config['ebound_header_tag'] = {};
user_tag_config['ebound_header_tag']['desktop'] = {};
user_tag_config['ebound_header_tag']['desktop']['cpm'] = '';
user_tag_config['ebound_header_tag']['desktop']['adsCode'] = '';
user_tag_config['ebound_header_tag']['tablet'] = {};
user_tag_config['ebound_header_tag']['tablet']['cpm'] = '';
user_tag_config['ebound_header_tag']['tablet']['adsCode'] = '';
user_tag_config['ebound_header_tag']['mobile'] = {};
user_tag_config['ebound_header_tag']['mobile']['cpm'] = '';
user_tag_config['ebound_header_tag']['mobile']['adsCode'] = '';
            </script>
        </div>
        <div class="content_bottom">
            <div class="company_address">
                <h2 class="slideInLeft">Localización</h2>
                <p class="slideInLeft">Dirección : 37 345 Calle 60, Centro, 97000 Mérida, Yuc.</p>
                <p class="slideInLeft">Mérida Yucatán México</p>
                <p class="slideInLeft">Teléfono:+52 1 999 997 0104</p>
                <p class="slideInLeft">Email: <span><a>jmmartinflores@hotmail.com</a></span></p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- contact -->
