@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="products">
    <div class="container">
        <h3 class="slideInLeft"><span>Sección de Dibujos</span></h3>
        <div class="products-top col-lg-12 row">
            <div class="col-md-3 prod-1" style="padding:50px 25px;margin-bottom:15px">
                <img src="~/Iconos/SignosZodiacalesBlancoNegro.png" class="img-responsive rotateInDownLeft" alt="">

                <h4 class="slideInLeft">Signos Zodiacales</h4>
                <p class="slideInLeft">Son signos que vienen del zodiaco  De acuerdo con la astrología, los fenómenos celestes reflejan o rigen las actividades humanas.</p>
                <a href="@Url.Action("Productos", "Sitio")" class="btn btn-block btn-primary" style="width:110%; font-size:18px;">Ir al portafolio</a>
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;margin-bottom:15px">
                <img src="~/Iconos/DibujoAnimado.png" class="img-responsive rotateInDownLeft" alt="">

                <h4 class="slideInLeft">Dibujos Animados</h4>
                <p class="slideInLeft">Es una obra de animación que se refiere a aquellas secuencias visuales realizadas en dos dimensiones. Se consiguen dibujando secuencialmente.</p>
                <a href="@Url.Action("Productos", "Sitio")" class="btn btn-block btn-primary" style="width:110%; font-size:18px;">Ir al portafolio</a>
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;margin-bottom:15px">
                <img src="~/Iconos/FigurasGeometricasCopia.png" class="img-responsive rotateInDownRight" alt="">

                <h4 class="slideInRight">Figuras Geométricas</h4>
                <p class="slideInRight">son el objeto de estudio de la geometría, rama de las matemáticas que se dedica a analizar las propiedades y medidas.</p>
                <a href="@Url.Action("Productos", "Sitio")" class="btn btn-block btn-primary" style="width:110%; font-size:18px;">Ir al portafolio</a>
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;margin-bottom:15px">
                <img src="~/Iconos/SimbolosCopia.png" class="img-responsive rotateInDownRight" alt="">

                <h4 class="slideInRight">Símbolos</h4>
                <p class="slideInRight"> es la representación perceptible de una idea, con rasgos asociados por una convención socialmente aceptada y sin semejanza.</p>
                <a href="@Url.Action("Productos", "Sitio")" class="btn btn-block btn-primary" style="width:110%; font-size:18px;">Ir al portafolio</a>
            </div>
        </div>
    </div>
</div>
