@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="products">
    <div class="container">
        <h3><span>Sección de Dibujos</span></h3>
        <div class="products-top">
            <div class="col-md-3 prod">
                <img src="~/Iconos/SignosZodiacalesBlancoNegro.png" class="img-responsive" alt="" >
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;">
                <h4>Signos Zodiacales</h4>
                <p>Son signos que vienen del zodiaco  De acuerdo con la astrología, los fenómenos celestes reflejan o rigen las actividades humanas.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="~/Iconos/DibujoAnimado.png" class="img-responsive" alt="" >
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;">
                <h4>Dibujos Animados</h4>
                <p>Es una obra de animación que se refiere a aquellas secuencias visuales realizadas en dos dimensiones. Se consiguen dibujando secuencialmente.</p>
            </div>
            <div class="clearfix"> </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;">
                <h4>Figuras Geométricas</h4>
                <p>son el objeto de estudio de la geometría, rama de las matemáticas que se dedica a analizar las propiedades y medidas.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="~/Iconos/FigurasGeometricasCopia.png" class="img-responsive" alt="" >
            </div>
            <div class="col-md-3 prod-1" style="padding:50px 25px;">
                <h4>Símbolos</h4>
                <p> es la representación perceptible de una idea, con rasgos asociados por una convención socialmente aceptada y sin semejanza.</p>
            </div>
            <div class="col-md-3 prod">
                <img src="~/Iconos/SimbolosCopia.png" class="img-responsive" alt="" >
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
