@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
    <div class="container">
        <div class="services-grids">
            <div class="col-md-9 services-left">
                <h1>Misión</h1>
                <div class="services-left-grids">
                    <div class="col-md-6 services-left-grid">
                        <img src="~/Iconos/Mision.png" class="img-responsive" title="name">
                        <h3>Grabados de Calidad</h3>
                        <p>Otorgar a nuestros clientes grabados de gran calidad a bajo costo, para conservar su dibujo favorito.</p>
                    </div>
                    <div class="col-md-6 services-left-grid">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <h3>Material de Calidad</h3>
                        <p>Otorgar a nuestros clientes su dibujo preferido con material de gran calidad para decorar su hogar.</p>
                    </div>
                    <!---728x90--->
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- services -->
