@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="about">
    <div class="container">
        <div class="about-grids">
            <div class="col-md-9 about-left">
                <h1>¿Quiénes Somos?</h1>
                <p>Somos una empresa mexicana sólida dedicada a la venta de tela y mercería.</p>
                <p>Cumplimos 25 años con un modelo de operación exitoso. Contamos con casi 7,500 colaboradores y muchas historias de éxito en las cuales el factor principal has sido tú.</p>
                <p>Queremos ser una empresa institucional y moderna, lo cual significa que sea ordenada, disciplinada, con procesos y resultados firmes.</p>
            </div>
        </div>
    </div>
</div>
<!-- about -->
