@model IEnumerable<Servicios.Model.Producto>
@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}
<div class="products">
    <div class="container">
        <h3><span>Signos Zodiacales</span></h3>
        <div class="products-top">
            @foreach (var item in Model)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12" style="margin-bottom:15px;margin-top:15px">
                            <div id="imageContent" class="col-md-3 prod-1 img-thumbnail text-center">
                                <image src="~/@item.ImagenPortada" width="200" height="200" class="img-responsive"></image>
                            </div>
                            <div class="col-md-3 text-center">
                                @item.Nombre
                            </div>
                            <div class="col-md-3 text-justify">
                                @item.Descripcion
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

@*<script>
        $(document).ready(function () {
            $.ajax({
                async: true,
                type: 'POST',
                url: '@Url.Action("get_Productos", "Sitio")',
                success: function (data) {
                    $("#imageContent").html(data).append("<br/>");
                    var images = data.split("|||");
                    for (var i = 0, j = images.length; i < j; i++) {
                        $("#imageContent").append("<img src='" + images[i] + "' width='300'>");
                    }
                }
            });
        });
    </script>*@
