@{
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<div class="services">
    <div class="container">
        <div class="services-grids">
            <div class="col-md-9 services-left">
                <h1 class="slideInDown">Visión</h1>
                <div class="services-left-grids">
                    @*<div class="col-md-6 services-left-grid">
                        <img src="./Textile A Industrial Category Flat Bootstrap Responsive Website Template _ Services __ w3layouts_files/img1.jpg" class="img-responsive" title="name">
                        <h3>Objetivo Específico</h3>
                        <p>Ser la empresa líder en el ramo textil, ofreciendo los precios más bajos garantizando la calidad y servicio.</p>
                    </div>*@
                    <div class="col-md-12 services-left-grid">
                        <img src="~/Iconos/Vision.png" class="img-responsive slideInLeft" title="name">
                        <h3 class="fadeInUp">Meta</h3>
                        <p class="fadeInUp">Lograr la satisfacción de nuestros clientes y ser reconocidos por toda la península de yucatán</p>
                    </div>
                    <!---728x90--->
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<!-- services -->
